@import "tailwindcss";

@theme {
  --color-on-secondary-fixed-variant: #005236;
  --color-tertiary-fixed-dim: #ffb2ba;
  --color-error: #ba1a1a;
  --color-surface-container-low: #f2f3ff;
  --color-primary-container: #2d5bff;
  --color-on-background: #131b2e;
  --color-tertiary-container: #c73453;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-high: #e2e7ff;
  --color-inverse-surface: #283044;
  --color-tertiary: #a5183d;
  --color-secondary-fixed-dim: #4edea3;
  --color-secondary-container: #6cf8bb;
  --color-on-error-container: #93000a;
  --color-on-tertiary-fixed-variant: #910130;
  --color-outline-variant: #c4c5d9;
  --color-on-secondary-fixed: #002113;
  --color-on-error: #ffffff;
  --color-inverse-primary: #b8c3ff;
  --color-on-secondary: #ffffff;
  --color-on-primary-container: #efefff;
  --color-primary-fixed: #dde1ff;
  --color-on-tertiary-container: #ffebec;
  --color-on-surface-variant: #434656;
  --color-error-container: #ffdad6;
  --color-surface-bright: #faf8ff;
  --color-surface-dim: #d2d9f4;
  --color-on-tertiary: #ffffff;
  --color-surface-container-highest: #dae2fd;
  --color-inverse-on-surface: #eef0ff;
  --color-on-surface: #131b2e;
  --color-on-primary: #ffffff;
  --color-outline: #747688;
  --color-surface-variant: #dae2fd;
  --color-surface-tint: #104af0;
  --color-on-primary-fixed: #001355;
  --color-secondary: #006c49;
  --color-background: #faf8ff;
  --color-secondary-fixed: #6ffbbe;
  --color-on-primary-fixed-variant: #0035bd;
  --color-surface-container: #eaedff;
  --color-primary: #0040df;
  --color-surface: #faf8ff;
  --color-on-secondary-container: #00714d;
  --color-tertiary-fixed: #ffd9dc;
  --color-primary-fixed-dim: #b8c3ff;
  --color-on-tertiary-fixed: #400010;

  --spacing-margin-desktop: 40px;
  --spacing-base: 8px;
  --spacing-container-max: 1440px;
  --spacing-margin-mobile: 16px;
  --spacing-gutter: 24px;

  --font-body-md: Geist, sans-serif;
  --font-label-md: Geist, sans-serif;
  --font-body-lg: Geist, sans-serif;
  --font-display-lg: Geist, sans-serif;
  --font-headline-md: Geist, sans-serif;
  --font-label-sm: Geist, sans-serif;
  --font-headline-lg: Geist, sans-serif;
  --font-headline-lg-mobile: Geist, sans-serif;
  
  --text-body-md: 16px;
  --text-body-md--line-height: 24px;
  --text-body-md--letter-spacing: 0em;
  --text-body-md--font-weight: 400;

  --text-label-md: 14px;
  --text-label-md--line-height: 20px;
  --text-label-md--letter-spacing: 0.02em;
  --text-label-md--font-weight: 500;

  --text-body-lg: 18px;
  --text-body-lg--line-height: 28px;
  --text-body-lg--letter-spacing: 0em;
  --text-body-lg--font-weight: 400;

  --text-display-lg: 48px;
  --text-display-lg--line-height: 56px;
  --text-display-lg--letter-spacing: -0.04em;
  --text-display-lg--font-weight: 700;

  --text-headline-md: 24px;
  --text-headline-md--line-height: 32px;
  --text-headline-md--letter-spacing: -0.01em;
  --text-headline-md--font-weight: 600;

  --text-label-sm: 12px;
  --text-label-sm--line-height: 16px;
  --text-label-sm--letter-spacing: 0.05em;
  --text-label-sm--font-weight: 600;

  --text-headline-lg: 32px;
  --text-headline-lg--line-height: 40px;
  --text-headline-lg--letter-spacing: -0.02em;
  --text-headline-lg--font-weight: 600;

  --text-headline-lg-mobile: 24px;
  --text-headline-lg-mobile--line-height: 32px;
  --text-headline-lg-mobile--letter-spacing: -0.02em;
  --text-headline-lg-mobile--font-weight: 600;
}

@layer base {
  html, body {
    margin: 0;
    padding: 0;
  }
  body {
    overscroll-behavior: none;
    font-family: var(--font-body-md);
    background-color: var(--color-surface);
    color: var(--color-on-surface);
  }
  main > :first-child {
    margin-top: 0 !important;
  }
  main > :last-child {
    margin-bottom: 0 !important;
  }
}

::-webkit-scrollbar {
  display: none;
}

@keyframes fade-in {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
  animation: fade-in 0.4s ease-out forwards;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}